@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Vazirmatn:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #4d4d4d;
    font-family: "Poppins",sans-serif;
}

.container{
    width: 400px;
    border-radius: 30px;
    background: #4d4d4d;
    box-shadow: 20px 20px 60px #343434,-20px -20px 60px #3b3b3b ;
    padding: 20px;
    text-align: center;
}
.container .picture {
    width: 170px;
    height: 170px;
    margin: 10px auto;
}
.picture img{
    border-radius: 50%;
    width: 100%;
    border: 5px solid rgb(247, 139, 139);
}

.container h1{
    color: rgb(216,216,216);
}
.container p{
    color: rgb(173,173,173);
    font-size: 18px;
}
.container .socials i{
    margin: 10px;
    font-size: 40px;
    color: rgb(211,211,211);
}